* {
  color: white;
  height: auto;
}

.container {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  position: fixed;

  &__content {
    width: 80vw;
    height: 100%;

    &__title {
      margin: auto;
      width: 50vw;
      height: auto;
      margin-top: 10vh;
      text-align: center;
      align-items: center;
      font-size: xx-large;

      .title {
        position: absolute;

        .mission {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .house {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
      }
    }

    &__login-box {
      margin: auto;
      width: 80vw;
      height: 50%;
      margin-top: 20vh;

      .input-box {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 5vh;
        text-align: center;

        input {
          width: 80vw;
          height: 8vh;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid white;
          outline: none;
          margin-bottom: 5vh;
          padding-left: 2px;
          max-width: 80vh;
        }

        ::-webkit-input-placeholder {
          color: white;
        }

        button {
          margin-top: 10vh;
          background: #2F2F2F;
          width: 70vw;
          height: 5vh;
          border: none;
          border-radius: 10px;
          max-width: 80vh;
        }

        button:hover {
          background: #232222;
        }
      }
    }
  }
}

// .container {
//   display: inline;
//   justify-content: center;
//   align-items: center;

// }

// .login {
//   width: 80vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 10vh;

//   .input-login, .input-password { width: 100%; }
//   .acess { display: flex; justify-content: center; }