<body>
    <div class="container">
        <div class="header"></div>
        <div class="title">
            <span class="mission">mission</span>
            <span class="house">House</span>
        </div>
        <div class="login">
            <div class="input-login">
                <input type="text" placeholder="Login">
            </div>
            <div class="input-password">
                <input type="password" placeholder="Senha">
            </div>
            <div class="acess">
                <button>Entrar</button>
            </div>
        </div>
    </div>
</body>

